<% 
// console.log(this); 
%>

<div class="city" id="<%= this.cid %>">
    <div class="city-pics"></div>
    <div class="city-content">
        <h2 class="city-name"><%= location.city %>
            <div class="city-country"><%= location.country %></div>
        </h2>
        <div class="city-conditions">
            <div class="city-day"><%= item.forecast[0].day %></div>
            <div class="city-text"><%= item.forecast[0].text %></div>
        </div>
        <div class="city-temp">
            <div class="city-high"><%= item.forecast[0].high %>°</div>
            <div class="city-low"><%= item.forecast[0].low %></div>
        </div>
    </div>

    <div class="city-forecast">
        
    <% for (var i = item.forecast.length - 1; i >= 0; i--) { 
        var day = item.forecast[i];
        %>
        <div class="city-forecast-inner">
            <div class="city-forecast-day"><%= day.day %></div>
            <div class="city-forecast-high"><%= day.high %>°</div>
            <div class="city-forecast-low"><%= day.low %></div>
            <div class="city-forecast-icon icon-code-<%= day.code %>">
                <span class="text"><%= day.text %></span>
            </div>
        </div>
    <% }; %>

    </div>

</div>