<div class="city">
    <h2 class="name"><%= city %></h2>
    <div class="country"><%= country %></div>
<!--     <div class="day"><%= day %></div>
    <div class="text"><%= text %></div>
    <div class="temp">
        <div class="high"><%= high %></div>
        <div class="low"><%= low %></div>
    </div> -->
</div>